.froggie {
    color: white;
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-part {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.upper-button {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 10px 30px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.upper, .footer {
    background-color: #1F2937;
}

.third-container {
    background-color: #E5E7EB;
}

.blue-box {
    background-color: #3882F6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    display: flex;
    gap: 30px;
}

body {
    margin: 0;
    padding: 0 10px;
    background-color: black;
    font-family: Roboto, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.upper-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 5px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.text {
    color: #F9FAF8;
}

.upper-blue-box-text {
    color: #F9FAF8; 
}

.second-hero {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6
}

.upper.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.upper.container {
    display: flex;
    padding: 100px 200px;
}

.boxes {
    display: flex;
}

.second-container {
    background-color: white;
}