body {
    margin: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.856);
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.page {

}

.black {
    width: 300px;
    flex: 1 1 auto
}

.upper, .footer {
    background-color: #1F2937;
}

.upper.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    flex: none;
    margin-right: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #E5E7EB;
    display: flex;
    gap: 30px;
    flex: none;
}

.upper.container {
    display: flex;
    padding: 100px 200px 150px 200px;
}

.left-part {
    flex: 1 0 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.upper-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 5px;
}

.upper-button {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 10px 30px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.froggie {
    color: white;
    background-color: gray;
    flex: 1 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container {
    background-color: white;
    align-items: center;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.second-hero {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}

.box-container {
    display: flex;
    flex-direction: column;
    flex: 0;
}

.box {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border: 3px solid #3882F6;
    margin-bottom: 8px;   
}

.box-text {
    color: rgba(0, 0, 0, 0.637);
}

.third-container {
    background-color: #E5E7EB;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 32px;
    font-weight: 300;
    color: #1F2937;
    width: 700px;
    align-self: center;
}

.thor {
    font-size: 23px;
    font-weight: 800;
    color: #151d27da;
    text-align: end;
    padding-right: 40px;
}

.last-container {
    background-color: white;
    padding: 30px;
    padding: 100px 200px;
    display: flex;
}

.blue-box {
    border-radius: 8px;
    background-color: #3882F6;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0;
}

.upper-blue-box-text {
    color: #F9FAF8; 
    font-size: 23px;
    font-weight: 800;
    flex: none;
}

.text {
    color: #E5E7EB;
    font-size: large;
    width: max-content;
}

.bottom-button {
    background-color: #3882F6;
    border-style: none;
    border: 2px solid white;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 40px;  
    margin-left: 30px;
    flex: none;
}

.footer {
    padding: 50px 0;
    text-align: center;
    color: #E5E7EB;
}










